/*==============================products=================================*/
/*==============================tabs=================================*/
.tabs {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 1em 0 2em;
	font-weight: 400;
}

.tabs nav {
	text-align: center;
}

.tabs nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
display: flex;
display: -ms-flexbox;
display: -webkit-box;
display: -webkit-flex;
display: flex;
justify-content: center;
align-items:center;
-ms-flex-wrap: wrap;
-ms-flex-direction: column;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}

.tabs nav ul li {
	margin: 5px;
	display: block;
	position: relative;
}

.tabs nav li.tab-current {
	z-index: 100;
}


.tabs nav a {
	color: white;
	display: block;
	font-size: 1.1rem;
	line-height: 1.5;
padding: 5px;
	white-space: nowrap;
}
.tabs nav li{
  background-color: #B69776;
  border-radius: 5px;
}


.tabs nav a:hover {
	color:
  ;
}

.tabs nav li.tab-current a {
   border-bottom: 2px solid white;
}

/*==============================content=================================*/
.content section {
	display: none;
	margin: 0 auto;
	margin-top: 20px;
}

.content section:before,
.content section:after {
	content: '';
	display: table;
}

.content section:after {
	clear: both;
}

/* Fallback example */
.no-js .content section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid #47a3da;
}

.content section.content-current {
	display: block;
}

@media screen and (max-width: 52.375em) {

	.tabs nav a:before {
		margin-right: 0;
	}

	.mediabox:before,
	.mediabox:after {
		content: '';
		display: table;
	}

	.mediabox:after {
		clear: both;
	}
}

@media screen and (max-width: 35em) {

.tabs nav a {
  font-size: 0.8rem;
}
}
.mediabox {
	width: 100%;
	color: white;
}
.content section {
	width: 100%;
}
.mediabox img {
	width: 100%;
	margin: 0 auto;
	display: block;
	height: 100%;
}
.imgbox {
	overflow: hidden;
}
@media screen and (max-width:1900px){
		.imgbox {
		max-height: 650px;
		}
}
@media screen and (min-width:1900px){
		.imgbox {
		max-height: 850px;
		}
}

/*==============================sections=================================*/
 .entrytext {
	width: 100%;
	margin:0 auto;
	text-align: center;
	border-top: 3px solid white;
	font-size: 1.2rem;
	min-height: 200px;
}
.entrytext p {
 width: 80%;
 margin: 0 auto;
 margin-top: 10px;
 padding-bottom: 20px;
 line-height: 1.6rem;
}

#section-1 .entrytext {
	background-color:#8e5c42;
}
#section-2 .entrytext {
	background-color:#da5669;
}
#section-3 .entrytext {
	background-color:#92dfdb;
}
#section-4 .entrytext {
	background-color:#a7bd56;
}
#section-5 .entrytext {
	background-color:#DB4B3F;
}
#section-6 .entrytext {
	background-color:#bfa2b9;
}
#section-7 .entrytext {
	background-color:#eb9548;
}
#section-8 .entrytext {
	background-color:#efb94a;
}
#section-9 .entrytext {
	background-color:#aab099;
}
#section-10 .entrytext {
	background-color:#8bc594;
}
#section-11 .entrytext {
	background-color:#87a2c6;
}
#section-12 .entrytext {
	background-color: #CC9358;
}
.mainul>li {
	margin-top: 15px;
}

.subul {
	margin-top: 10px;
	line-height: 1.7rem;
}
.subul li {
	font-size: 1.2rem;
	color:rgba(255, 255, 255, 0.82);
	padding-top: 5px;
}
.left {
	width: 50%;
	padding-left: 15%;
}
.right {
	width: 50%;
	padding-left: 15%;
}
 .entrytext h2 {
	margin-top: 30px;
	font-size: 1.6rem;
}
 .entrytext hr {
	height: 2px;
	width: 10%;
	background-color: white;
	border:none;
}

.theproducts {
	width: 100%;
	margin: 0 auto;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
}
#section-1 .entrytext p:last-of-type {
	font-weight: 300;
}
#section-1 .price {
	color: black;
}
#section-1 .theproducts {
	background-color: #a17761;
	border-top: 2px solid white;
}
#section-1 ul li:first-of-type {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 600;
	padding-bottom:10px;
	padding-top: 10px;
}
#section-1 ul li {
	padding: 3px;
	font-weight: 300;
}
#section-2 .theproducts {
	background-image: url(backfruit.jpg);
	background-position: left;
	background-size: cover;
	background-repeat: repeat-y;
	text-shadow: 0px 0px 1px white;
}
#section-2 .price {
	color: #da5669;
}
#section-2 .mainul li {
	color: #da5669;
	font-weight: 600;
}
#section-2 .right .subul li {
	font-size: 1rem;
}

#section-2 .mainul {
	width: 90%;
	margin: 0 auto;
}
#section-2 .subul {
	line-height: 1.5rem;
}
#section-2 .subul li {
	color:black;
	line-height: 1.7rem;
	font-weight: 400;
}
#section-2 .left .subul li:last-of-type {
	padding-top: 40px;
    font-weight: 300;
		font-size: 1rem;
}
#section-2 .right .small {
	font-weight: 300;
	font-size: 1rem;
}
#section-2 .color {
	color: #da5669;
}
#section-3 .theproducts {
	background-image: url(breakfastback.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: repeat-y;
	text-shadow: 0px 0px 1px white;
}
#section-3 .mainul li {
	color: #92dfdb;
	line-height: 1.2rem;
	font-weight: 600;
}
#section-3 .subul li {
	color:black;
	font-weight: 300;
}
#section-3 .color {
	color: #92dfdb;
}
#section-3 .price {
	color: black;
	font-weight: 300;
}
#section-4 .theproducts {
	background-image: url(saladback.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: repeat-y;
	text-shadow: 0px 0px 1px white;

}
#section-4 .mainul li {
	color: #a7bd56;
	font-weight: 600;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom-style: dashed;
}
#section-4 .mainul li:last-of-type {
	border:0;
}
#section-4 .subul li {
	color:black;
	font-weight: 300;
	font-size: 1.2rem;
}
#section-4 .price {
	color: black;
}
#section-4 .mainul {
	line-height: 0rem;
	width: 95%;
	margin:0 auto;
}
#section-4 .left {
	padding-left: 10%;
}
#section-4 .right {
	padding-left: 10%;
}

#section-5 .theproducts {
	background-image: url(fruitsalladback.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: repeat-y;
}
#section-5 ul {
	line-height: 1.6rem;
}
#section-5 li {
	color: white;
	font-size: 1rem;
}

#section-5 li:last-of-type {
	padding-bottom: 10px;
}
#section-5 .price {
	color: black;
}
#section-5 .small {
	color: black;
	font-weight: 300;
	font-size: 1rem;
}
#section-5 .entrytext {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	-ms-flex-wrap: wrap;
	 	           -ms-flex-direction: column;
	 	           -webkit-flex-flow: row wrap;
	            	flex-flow: row wrap;
}
#section-5 .right {
	color: black;
}

#section-6 .theproducts {
	background-color: white;
	font-size: 1.2rem;
}
#section-6 .mainul li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
		border-bottom-style: dashed;
		padding-bottom: 12px;
}
#section-6 .mainul li {
	color: black;
	font-size: 1.1rem;
	font-weight: 300;
}
#section-6 .left .mainul {
	width: 95%;
	margin: 0 auto;
}
#section-6 .right .mainul {
	width: 95%;
	margin: 0 auto;
}
#section-6 .left{
	padding-left: 10%;
}
#section-6 .right {
	padding-left: 10%;

}
#section-6 .color {
	color: #bfa2b9;
	font-weight: 600;
}
#section-6 .price {
	color: #bfa2b9;
}
#section-6 .mainul li:last-of-type {
	border:0;
}
#section-7 .entrytext {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	-ms-flex-wrap: wrap;
	 	           -ms-flex-direction: column;
	 	           -webkit-flex-flow: row wrap;
	            	flex-flow: row wrap;
	color: black;
}
#section-7 .entrytext h2 {
	color: white;
}
#section-7 .mainul li {
	color: rgba(255, 255, 255, 0.95);
    font-weight: 600;

}
#section-7 .subul li {
	color: black;
	font-size: 1rem;
	font-weight: 300;
}
#section-7 .price {
	color: black;
	font-size: 1.2rem;
	font-weight: 400;
}
#section-7 .entrytext p:last-of-type {
	font-size: 1rem;
}

#section-8 .mediabox {
	text-align: center;
	background-color: white;
}
#section-8 .mediabox h4 {
	color: #4c3c1b;
	padding-top: 30px;
}
#section-8 .mediabox p:last-of-type {
	color:#4c3c1b;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 60%;
	margin: 0 auto;
	line-height: 1.5rem;
}
#section-8 .entrytext p:last-of-type  {
	color: rgba(255, 255, 255, 0.95);
	padding-top: 30px;
	padding-bottom: 30px;
	width: 60%;
	margin: 0 auto;
}
#section-8 .theproducts {
	background-color: #f7f7f7;
}
#section-8 .mainul li {
	color: black;
	font-weight: 300;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
		border-bottom-style: dashed;
}
#section-8 .mainul li:last-of-type {
	border:0;
}
#section-8 .mainul {
	text-align: left;
	padding-left: 10%;
	width: 60%;
}
#section-8 .last {
	width: 40%;
	margin: 0 auto;
	padding-top: 50px;
}
#section-8 .price {
	color: #efb94a;
	font-weight: 600;
}
#section-9 .mainul li{
	color: rgba(255, 255, 255, 0.89);
	line-height: 1.2rem;
}
#section-9 .subul li{
	font-weight: 300;
	color: black;
}


#section-9 .subul li:last-of-type {
	padding-bottom: 10px;
}
#section-9 .entrytext {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	-ms-flex-wrap: wrap;
	 	           -ms-flex-direction: column;
	 	           -webkit-flex-flow: row wrap;
	            	flex-flow: row wrap;
	color: black;
}
#section-9 .subul {
  line-height: 1rem;
}
#section-9 .color {
	color: rgba(255, 255, 255, 0.57);
}
#section-9 .subul {
	margin-top: 0;
}
#section-10 .entrytext {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	-ms-flex-wrap: wrap;
	 	           -ms-flex-direction: column;
	 	           -webkit-flex-flow: row wrap;
	            	flex-flow: row wrap;
	color: black;
}
#section-10 .mainul li{
	color: white;
	line-height: 1rem;
}
#section-10 .subul {
	margin-top: 0;
}
#section-10 .subul li{
	font-weight: 300;
	color: black;
	padding-bottom: 3px;
    padding-top: 8px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.14);
}
#section-10 .subul {
  line-height: 1rem;
}
#section-10 .subul li:last-of-type {
  border: 0;
}

#section-10 .price {
	color: white;
}
#section-11 .entrytext {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	-ms-flex-wrap: wrap;
	 	           -ms-flex-direction: column;
	 	           -webkit-flex-flow: row wrap;
	            	flex-flow: row wrap;
	color: #292929;
}
#section-11 .mainul li{
	color: white;
	line-height: 1rem;
	margin-bottom: 40px;
}
#section-11 .subul li{
	font-weight: 300;
	color: #292929;
	line-height: 1.5rem;
	font-size: 1.1rem;
}

#section-11 .subul {
  line-height: 1rem;
	margin-top: 3px;
}
#section-11 .color {
	color:rgba(255, 255, 255, 0.61);
}
#section-12 .theproducts {
	background-image: url(breadback.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: repeat-y;
		text-shadow: -1px 1px 0px black;
}
#section-12 .mainul li {
	color: rgba(204, 147, 88, 0.87);
	font-weight: 600;
}
#section-12 .subul li {
	color:rgba(255, 255, 255, 0.82);
	font-weight: 300;
}
.small {
	font-weight: 300;
}
#section-5 .left {
	padding-left: 0;
}
#section-5 .right {
	padding-left: 0;
	text-align: left;
	padding-bottom: 10px;
}
#section-7 .left {
	padding-left: 0;
	width: 55%;
	margin: 0 auto;
}
#section-7 .right {
	padding-left: 0;
	text-align: left;
	padding-bottom: 10px;
	width: 50%;
	margin: 0 auto;
}
#section-9 .left {
	padding-left: 0;
}
#section-9 .right {
	padding-left: 0;
	text-align: left;
	padding-bottom: 30px;
	padding-top: 30px;
	width: 45%;
	margin: 0 auto;
}
#section-10 .left {
	padding-left: 0;
}
#section-10 .right {
	padding-left: 0;
	text-align: left;
	padding-bottom: 10px;
}
#section-10 .entrytext p:last-of-type {
	font-size: 1rem;
	font-weight: 300;
}
#section-11 .left {
	padding-left: 0;
	width: 55%;
	margin: 0 auto;
}
#section-11 .right {
	padding-left: 0;
	text-align: left;
	padding-bottom: 30px;
	padding-top: 30px;
	width: 50%;
	margin: 0 auto;
}
#section-12 .subul {
	line-height: 1.2rem;
}




@media screen and (max-width:850px){
	.theproducts {
		width: 100%;
		-ms-flex-wrap: wrap;
		-ms-flex-direction: column;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.left {
		width: 100%;
	}
	.right {
		width: 100%;
	}
	.entrytext {
		 width: 100%;
	 }
	 #section-8 .mainul {
		 width: 90%;
		 margin: 0 auto;
	 }
	 #section-8 .left {
		 padding-left: 0;
	 }
	 #section-8 .right {
		padding-left: 0;
	}
	 #section-8 .last {
	 	width: 90%;
	 	margin: 0 auto;
	 	padding-top: 10px;
	 }
	 #section-11 .left {
		 width: 95%;
	 }
	 #section-11 .right {
		 width: 95%;
	 }
	 #section-9 .right {
		 width: 95%;
	 }
	 #section-5 .right {
		 width: 80%;
		 margin:0 auto;
	 }
	 #section-7 .left {
		 width: 90%;
	 }
	 #section-7 .right{
		 width: 90%;
	 }
	 #section-10 .right {
		 width: 95%;
		 margin: 0 auto;
	 }

}
@media screen and (max-width:650px){
	#section-4 .subul li {
		font-size: 0.8rem;
	}
	#section-5 ul {
		font-size: 0.8rem;
	}
	.mainul li {
		font-size: 1rem;
	}
	.subul li {
		0.9rem;
	}
	.entrytext p {
	 font-size: 1rem;
 }
	.entrytext h2 {
	font-size: 1.3rem;
 }
 #section-6 .mainul li {
  font-size: 1rem;
 }
 #section-7 .mainul li {
  font-size: 1rem;
 }
 #section-7 .price {
	font-size: 1rem;
 }
 #section-7 .subul li {
	font-size: 0.9rem;
 }
 #section-8 .mainul li {
	font-size: 0.9rem;
 }
 #section-8 .entrytext p:last-of-type {
	 width: 95%;
 }
 #section-11 .subul li {
	 font-size: 0.9rem;
 }
}

.menupdf {
	color: white;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	 	           -ms-flex-direction: column;
	 	           -webkit-flex-flow: row wrap;
	            	flex-flow: row wrap;
								justify-content: center;
								padding-top: 10px;
}
.menupdf a {
	color: #a88b6D;
	margin-left: 5px;
	margin-right: 5px;
}
/*===========global=============*/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 html {
   box-sizing: border-box;
 -webkit-font-smoothing: antialiased;
 -webkit-tap-highlight-color: transparent;
 text-rendering: optimizeLegibility;
 }
 a {
   text-decoration: none;
   display: block;
 }
 a:active, a:focus, a:visited, a:hover {
   text-decoration: none;
 }
 img {
   max-width: 100%;
 }
 body {
   line-height: 1;
   background-color: black;
   background-image: url(black-wood-panels.jpg);
   background-size: contain;
   background-position: center center;
   background-repeat: repeat-y;
   font-family: 'Roboto', sans-serif;
     font-size: 1.1rem;
 }

 /*==============================header=================================*/

.logo {
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
}
.logo img {
  width: 300px;
}
.lang {
  position: absolute;
    right: -80%;
    top: 0px;
    display:inline-flex;
}
.lang img {
  width: 23px;
padding: 5px;
}
.navigation {
  width: 970px;
  margin: 0 auto;
  margin-top: 50px;
  border-top: 1px solid white;
  border-bottom:  1px solid white;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}
.navigation a {
  color: white;
  padding-top: 8px;
    height: 28px;
    width: 100%;
}

.active {
  background-color: #B69776;
}
.button {
  display: none;
  text-align: center;
  cursor: pointer;
  width: 50px;
margin: 0 auto;
margin-top: 20px;
}
.button p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 0.9rem;
}
.bar {
  background: #fff;
    width: 32px;
    height: 2px;
    display: block;
    margin:0 auto;
    margin-top: 5px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.none {
  display: none;
}
.margin {
  position: relative;
bottom: 12px;
opacity: 0;
}
.rotatedright {
  margin-top: -1px;
transform: rotate(135deg);
width: 31px;
}
.rotatedleft {
  margin-top: 0px;
transform: rotate(45deg);
width: 31px;
}
@media screen and (max-width:950px){
  .navigation {
    display: none;
    width: 90%;
    margin: 0 auto;
  }
  .navigation a {
    width: 90%;
    margin: 0 auto;
  }
  .button {
    display: block;
  }
  .lang {
    right: -7%;
    top: -35px;
  }
}

/*==============================homepage=================================*/
.bakery p {
  color: white;
  width: 60%;
  margin: 0 auto;
  line-height: 1.5rem;
  margin-top: 50px;

}
.canvas {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:40%;
  margin:0 auto;
  -ms-flex-wrap: wrap;
   	           -ms-flex-direction: column;
   	           -webkit-flex-flow: row wrap;
              	flex-flow: row wrap;
                margin-top: 50px;
}
.canvaimg {
  width: 33%;
}
.bakery a {
  width: 150px;
  margin: 0 auto;
  padding:20px;
 color: white;
 background-color:#B59676;
 margin-top: 50px;
 text-align: center;
 border-radius: 5px;
 line-height: 1.5rem;
}
.bakery a:hover {
               -webkit-transition: all 0.4s;
               -moz-transition: all 0.4s;
               -o-transition: all 0.4s;
               transition: all 0.4s;
               opacity:0.8;
}
@media screen and (max-width:850px){
  .canvas {
    width: 95%;
  }
  .bakery p {
    width: 90%;
  }
}
/*==============================products=================================*/
.call {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  background-color: #B59779;
  color: white;
  height: 25px;
  padding-top: 5px;
  line-height: 1.4rem;
  z-index: 1000;
}
.call p {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
   	           -ms-flex-direction: column;
   	           -webkit-flex-flow: row wrap;
              	flex-flow: row wrap;
}
.call p a {
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (max-width:420px){
  .call {
    height: 42px;
  }
}
/*==============================naoussa=================================*/
.naoussashop {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.naoussashop img {
  width: 90%;
  margin: 0 auto;
}
.naoussashop a {
  width: 150px;
  margin: 0 auto;
  padding:20px;
 color: white;
 background-color:#B59676;
 margin-top: 50px;
 text-align: center;
 border-radius: 5px;
 line-height: 1.5rem;
}
.naoussashop a:hover {
               -webkit-transition: all 0.4s;
               -moz-transition: all 0.4s;
               -o-transition: all 0.4s;
               transition: all 0.4s;
               opacity:0.8;
}

.naoussashopentry p {

  color: white;
  line-height: 1.5rem;
  margin-top: 50px;
  margin-bottom: 50px;

}

#map {
  height: 400px;
  width: 60%;
  margin: 0 auto;

}
@media screen and (max-width:850px){
.naoussashop {
  width: 90%;
}
 #map {
   width: 100%;
 }
}

/*==============================contact=================================*/
.contactpage {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
}
.contactinfo {
  margin-right: 80px;
}
.sendmail {
  margin-left: 80px;
}
.contact {
  margin: 30px;
  border-bottom: 1px solid white;
  padding: 20px;
  color: white;
}
.contact a {
  color: white;
  margin-top: 15px;
}

.sendmail a {
  color: white;
  padding:25px;
  background-color: #B69776;
  border-radius: 5px;
}
.sendmail a:hover{
               -webkit-transition: all 0.4s;
               -moz-transition: all 0.4s;
               -o-transition: all 0.4s;
               transition: all 0.4s;
               opacity:0.8;
}
@media screen and (max-width:850px){
  .contactpage {
    -ms-flex-wrap: wrap;
     	           -ms-flex-direction: column;
     	           -webkit-flex-flow: row wrap;
                	flex-flow: row wrap;
                  text-align: center;
  }
  .contactinfo {
    margin-right: 0px;
  }
  .sendmail {
    margin-left: 0px;
    margin-top: 50px;
  }
}
/*==============================sweetrooms=================================*/
.sweetrooms {
  text-align: center;
}
.sweetrooms img {
  width: 50%;
}
.sweetrooms p {
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 60%;
  margin:0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  line-height: 1.5rem;
}
.sweetrooms a {
  color: white;
  background-color: #B69776;
  padding: 20px;
  width: 150px;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  line-height:1.5rem;
}
.sweetrooms a:hover {
               -webkit-transition: all 0.4s;
               -moz-transition: all 0.4s;
               -o-transition: all 0.4s;
               transition: all 0.4s;
               opacity:0.8;
}
  @media screen and (max-width:850px){
    .sweetrooms p {
      width: 80%;
    }
    .sweetrooms img {
      width: 90%;
    }
  }
/*==============================footer=================================*/
.footerdet {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}
.footerdet a {
  color: white;
  padding-left: 20px;
}
.webdevinfo p {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 5px;
}
.webdevinfo p a {
  padding-left: 5px;
  color: #B59679;
}
@media screen and (max-width:850px){
  .footerdet{
    width: 100%;
  }
  .footerdet a {
    padding-left: 5px;
  }
  .webdevinfo {
    text-align: center;
  }
  .webdevinfo p {
    -ms-flex-wrap: wrap;
     	           -ms-flex-direction: column;
     	           -webkit-flex-flow: row wrap;
                	flex-flow: row wrap;

  }
}

.shopimages {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	 	           -ms-flex-direction: column;
	 	           -webkit-flex-flow: row wrap;
	            	flex-flow: row wrap;
								justify-content: center;
								align-items: center;
								width: 100%;
								margin:0 auto;
}
.shopimages img {
	width: 50%;
}
@media screen and (max-width:850px){
	.shopimages {
	margin-top: 50px;
	}
}
